<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <form action="create" method="post" th:object="${object}"> YApp    <!--action tag = activate Controller(create) -->
    <input type="text" placeholder="input name" name="userName"/>   <!--name=""에서 column이름과 동일해야 들어감-->
    <button type="submit">name</button>

     <!-- <input type="number" placeholder="age (only num)" name="age">
    <button type="submit">age</button>-->
  </form>
</body>
</html>